<ion-header>
  <ion-toolbar>
    <ion-buttons end>
      <ion-searchbar [(ngModel)]="filterTerm" [showCancelButton]="shouldShowCancel" animated="true"
        (ionCancel)="onCancel($event)">
      </ion-searchbar>
      <ion-button (click)="goAddVotePage()" fill="clear">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-button (click)="authService.SignOut()" fill="clear">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="votes">
  <ion-card *ngFor="let vote of votes | filter:filterTerm">
    <ion-item color="light">
      <ion-card-header color="light">
        <ion-card-title>{{vote.title}}</ion-card-title>
        <ion-card-subtitle>{{vote.hashtag}}</ion-card-subtitle>
      </ion-card-header>
    </ion-item>

    <ion-footer>
      <ion-row>
        <ion-col size="6" class="ion-text-center">
          <ion-button (click)="addUp(vote.index)" fill="clear" class="ion-text-capitalize">
            <ion-item color="none">
              <ion-icon *ngIf="vote.isMyVoteUp" name="thumbs-up" color="primary" slot="start"></ion-icon>
              <ion-icon *ngIf="!vote.isMyVoteUp" name="thumbs-up-outline" color="primary" slot="start"></ion-icon>
              <ion-label color="primary">{{vote.thumbUp}}</ion-label>
            </ion-item>
          </ion-button>
        </ion-col>
        <ion-col size="6" class="ion-text-center">
          <ion-button (click)="addDown(vote.index)" fill="clear" class="ion-text-capitalize">
            <ion-item color="none">
              <ion-icon *ngIf="vote.isMyVoteDown" name="thumbs-down" color="primary" slot="start"></ion-icon>
              <ion-icon *ngIf="!vote.isMyVoteDown" name="thumbs-down-outline" color="primary" slot="start"></ion-icon>
              <ion-label color="primary">{{vote.thumbDown}}</ion-label>
            </ion-item>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-footer>

  </ion-card>
  <div *ngIf="votes.length == 0" class="empty-list">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>
</ion-content>
